{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-5 card p-4 bg-light-blue">
<h1 class="text-center">Mot de passe oublié</h1>
    
    {# j'ai ma fonction form qui accepte un paramètre (Le paramètre accepte c'est le nom du formulaire qui ce trouve dans mon controleur register #}
    {{ form(forgotPassworForm) }}

</br>
<div class="d-flex">
<p class="d-inline">Vous avez déjà un compte ?</p>
<a class="d-inline ms-2" href="{{ path('app_login') }}">Connectez-vous</a>
</div>
</div>


{%  endblock %}

